body{
    font-family: Helvetica, sans-serif;
    margin: 2px 5px;
}

div {
    margin: 0 auto;
    padding: 5px 10px; 
}

div.tooltip {
    background-color: wheat;
    font-weight: bold;
    position: absolute;
    text-align: center;
    padding: 0px 10px;
    min-width: 80px;
}

svg {
    display: block;
    margin: auto;
}

p.comment {
    margin: 5px 20px;
    font-style: italic; 
}